[user]
	name = wiasliaw
	email = wiasliaw@protonmail.com

[hub]
	protocol = ssh

[init]
	defaultBranch = main

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only --dark

[delta]
	features = decorations navigate
	line-numbers = true
	side-by-side = true

[pull]
	ff = only

[push]
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
